*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:#fff;
}

header{
    background:#000;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h2{
    color:#d4af37;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:120px 20px;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    background:#d4af37;
    color:#000;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.about{
    padding:70px 10%;
    text-align:center;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
